# Dev
API_URL="http://localhost:3333"

# Homolog
# API_URL="https://api.homolog.ecoo.org.br"

NEXT_PUBLIC_CHAT_URL="https://t.me/kecoobot"

STUBBED_USE_CASES="login=false,get-user=true"

PAGES_IN_CONSTRUCTION="/pedidos,/montar-sacola,/teste"

FORBIDDEN_REDIRECT_URL="/cadastrar/4/"

# Metadata
NEXT_PUBLIC_ORG_NAME="e-COO"